#nav {
    font-family: 'Merriweather', serif;
    font-size: 1.6em;
    background-color: rgba(244, 0, 0, 0.5);
}

.navbar-brand {
    font-size: 1.6em;
}

#about {
    font-size: 1em;
}

body {
    background-color: rgb(33, 37, 41);
    color: white;
}